@import '../../common/commonStylesheet.scss';

.account {
  display: flex;
  justify-content: center;
  background: #ffffff;
  height: calc(100vh - 3.5rem);
  margin-top: 3.5rem;
  max-width: $width-privateUserProfile_max;
  margin-left: auto;
  margin-right: auto;
  &_main {
    display: inline-block;
    // background: lightblue;   //testing
    overflow-y: auto;
    width: 800px;
    // height: calc(100vh - 3.5rem);
    height: 100%;
    padding: 20px;
  }
}
