@import '../../common/Variables.scss';
@import '../../common/commonStylesheet.scss';

.home{
	width: 100%;
   min-width: toRem(700);
   height: 30rem;
   display: flex; // for margin
   margin: 0 auto;
   flex-direction: column;
}