@import '../../common/Variables.scss';
@import '../../common/commonStylesheet.scss';

.home{
	width: 100%;
   min-width: toRem(600);
   height: 30rem;
   display: flex; // for margin
   margin: 0 auto;
   flex-direction: column;
   &_left{
      width: 70%;
      margin-top: 2rem;
   }
   &_aside{
      margin: 1rem 0 0 3rem;
      width: 30%;
   }
}