@import './../Variables.scss';
@import './../commonStylesheet.scss';

header{
    position: relative;
    box-shadow:  2px 10px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #ccc;
    text-align: center;
    .header{
        max-width: 90rem;
        margin: 0 auto;
        box-sizing: border-box;
        height: 3rem;
        text-align: center;
        &_addition{
            float: right;
            box-sizing: border-box;
            height: 3rem;
            min-width: 18rem;
            >div{
                display: inline-block;
                line-height: 2rem;
                margin-top: 0.4rem;
                text-align: center;
                padding: 0 0.8rem;
                margin-left: 0.5rem;
                border-radius: $border-radius;
                border: 1px solid $color-orange;
                &:first-child{
                    color: $color-orange;
                }
                &:last-child{
                    color: #eee;
                    background: $color-orange;
                }
                >span{
                    padding-left: 0.5rem;
                }
            }
        }
        &_logo{
            float: left;
            background: url('./../pic/header_logo.png');
            background-size: cover;
            width: 6rem;
            height: 3rem;
        }
        >nav{
            min-width: 50rem;
            height: 3rem;
            // margin: 0 auto;
            position: relative;
            display: inline-block;
            li{
                box-sizing: border-box;
                display: inline-block;
                line-height: 2rem;
                margin-top: 0.4rem;
                padding: 0 1rem;
            }
            ul:first-child{
                float: left;
                :first-child{
                    color: $color-orange;
                }
                .header_search{
                    >input{
                        width: 6rem;
                        height: 2rem;
                        padding: 0 2.4rem 0 1.2rem;
                        border-radius: $border-radius;
                        border: 1px solid #eee;
                        background: #eee;
                        outline: none;
                        &::placeholder{
                            color: #a0a0a0;
                        }
                    }
                    &_icon{
                        position: relative;
                        left: -1.5rem;
                        top: 0.1rem;
                        color: #dadada;
                    }
                }
            }
            ul:last-child{
                float: right;
            }
        }

    }
}
