// @import './commonStylesheet.scss';
@function toRem($px){
  @return ($px/16)*1rem
};

$color-orange: #ea6f5a;
$color-grey-font: #969696;
$color-grey-border-bottom: #f0f0f0;
$color-grey-input-placeholder: #cfd4e6;
$color-green:#7db343;
$color-blue-green:#008FB4;
$color-grey-button: #545a77;
$color-grey-1: #f6f8fd;  // button background
$color-grey-input-border: #bbc2dc;
$color-button-pink: #e0446d;
$color-font-grey: #545a77;
$color-font-black: #292B32;
$color-green-blue: #008fb4;




$border-radius-header-button: 19px;
$height-header: toRem(56);
$margin-top-header-li: 0.5rem;
//The page is divided into 3 parts for both header and body
$width-middle: 60%;
$width-left: 20%;
$width-right: 20%;

//responsive
$width-navbar: 960px;
// $width-navbar-2: 1050px;




