@function toRem($px){
  @return ($px/16)*1rem
};

$color-orange: #ea6f5a;
$color-grey-font: #969696;
$color-grey-border-bottom: #f0f0f0;
$color-grey-input-placeholder: #cfd4e6;
$color-green:#7db343;
$color-blue-green:#008FB4;
$color-grey-button: #545a77;
$color-grey-1: #f6f8fd;  // button background
$color-grey-input-border: #bbc2dc;
$color-button-pink: #e0446d;
$color-font-grey: #545a77;
$color-font-black: #292B32;
$color-green-blue: #008fb4;




$border-radius-header-button: 19px;
$margin-top-header-li: 0.5rem;
//The page is divided into 3 parts for both header and body
// $width-middle: toRem(800);  


//responsive
$width-navbar-and-main: 60rem; // for the content of header and main tag
// $width-navbar-2: 1050px;

// Navbar - not used now
$width-navbar-max: 65rem;  // equals 1040px. max size for screen width > 1060px
$width-navbar-user: 820px; // For screen width < 840px at user mode 
$width-navbar-visitor: 900px; // For screen width < 900px at visitor mode
$width-navbar-min: 20rem; // 320px. min size

// HomePanel
$width-homePanel_0: toRem(880); // full size
$width-homePanel_1: toRem(820); // use smaller font size for screen width < 820

// PrivateUserProfile
$width-privateUserProfile_max: toRem(1020); // max size
$width-privateUserProfile: 100%; // For screen width less than 1020. 








